body {
    font-family: 'Kalam', cursive;
    font-family: 'Mingzat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
}

.banner {

    background-image: url(images/289309152_1984714301714779_4342481789757306156_n.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.adjust-banner {
    padding-top: 200px;
    padding-bottom: 4%;
    margin-bottom: 20px;
    text-align: center;

}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, Tomato);
    padding: 10px 40px;
}

h1 {
    font-size: 70px;
    /* color: white; */
}

.adjust-banner p {
    margin-bottom: 100px;
    color: white;
    font-size: 25px;
}

.donation {
    width: 70%;
    margin: 0 auto 5%;
}

.donation-info {
    text-align: center;
}

.donation-info h1 {
    color: black;
}

.donation-info p {
    font-size: 30px;
}

.donation-money {
    display: flex;
}

.money {
    width: 20%;
    text-align: center;
    background-color: lightgrey;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;

}

.red-box {
    background-color: lightpink;
    border: 2px solid red;

}

.amount {
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
    width: 100%;
}

#amount-input {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid black;
}

.another-link-buttom {
    margin-left: 45%;
    margin-top: 3%;
    color: white;
}

.donate-type {
    margin-top: 30px;
}

.donate-title {
    text-align: center;

}

.donate-title p {
    font-size: 25px;
}

.donation-item {
    display: flex;
}

.family-donation {
    background-color: aqua;
    padding: 4%;
    margin-right: 2%;
    margin-left: 3%;
    margin-top: 2%;

}

.family-donation p {
    font-size: 25px;
}

.food {
    background-color: lightslategray;
}

.Shelter {
    background-color: lightpink;
}

.Education {
    background-color: lightsalmon;
}

.depend-donation-both {
    display: flex;
    margin-top: 80px;
}

.another {
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;

}

.another img {
    width: 100%;
}

.depend-donation-title p {
    font-size: 25px;
}

.update {
    width: 70%;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;

}

.last-one p {
    font-size: 25px;
}

.email-info {
    width: 30%;
    padding: 15px;
}

.sub-color {
    background-color: red;
    padding: 15px;
}

.another-last {
    background-color: lightcoral;
    padding: 5%;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}